executor {
  name = 'slurm'
  queueSize = 10
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir = '/vast/awonkam1/containers/'
}

process {

  clusterOptions = {"--account awonkam1_bigmem --partition bigmem"}

  withLabel: 'samtools' {
    container = 'docker://staphb/samtools:latest'
  }

  withLabel: 'mitohpc' {
    container = 'docker://dpuiu1/mitohpc:latest'
  }

  cpus = 12
  time = 5.h
  memory = 10.GB
}

params {
  init = "${projectDir}/init.sh"
  // bam_dir = '/vast/awonkam1/DATA/sicklecell/cameroon/wgs/cram/t2t/'
  // bam_dir = '/vast/awonkam1/DATA/sicklecell/cameroon/wgs/cram/hg38/'
  // bam_dir = '/vast/awonkam1/DATA/trypanogen/wgs/cram/hg38/'
  // bam_dir = '/vast/awonkam1/DATA/analysis/mtdna/controlcram/'
  bam_dir = '/vast/awonkam1/DATA/analysis/mtdna/scdcram/'
  output_dir = '/vast/awonkam1/DATA/analysis/mtdna/results/'
  ref = 'hg38'  // options: hg18, hg19, hg38, chm13, chm13v2, mm39

  /***********************************************************
  ~ bam_dir: directory containing BAM/CRAM files and their 
    idxstats files
  ~ ref: options: hg18, hg19, hg38, chm13, chm13v2, mm39
  ***********************************************************/
}
